body {

 text-align:center; 
 font-family:david; 
 font-size:30px;
 
 font-style:italic; 
 text-decoration:underline;
 color:pink;
}

h1 {
 font-weight:bold;
}

table {
 border: 3px blue dotted;
}
th, td {
 border: 2px black solid;
}
